*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.body{
    min-height : 100vh ;
}

:root { 
font-size : 100% ; 
scroll-behavior : smooth ; 
} 

h1 , h2 , h3 , h4 , h5 , h6 , p , span , a , mark, strong , button, blockquote , i , b , u , em , pre , code , mark , del {  
font :  inherit ; 
line-height :  1.5em ; 
text-decoration :  none ; 
color : inherit ; 
overflow-wrap : break-word ; 
text-wrap : pretty ; 
}

ul {
  list-style-type: none;
}

img, svg, video{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
    height: initial;
}


.Main{
width: 100%;
min-height: 100vh ;
}

.Main .Hero{

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start;
}

.Hero-video{
    width: 100vw;
    min-height: 100vh;
    object-fit: cover;
}

.Hero-h2{
    position: fixed;
    top: 30px;
    font-weight: 500;
    font-size: 20.8px;
    text-shadow: .125rem .125rem .125rem #fffffffd;
    text-transform:uppercase;
    z-index: 1;
}

.Header-logo{
    position: fixed;
    z-index: 2;
    top: 16px;
    left: 16px;
    width: 100px;
    height: 100px;
}

.Main.Snow{
    width: 100%;
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);;
 
   

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    gap: 5rem;

}

.Snow-imagen{
    width: 28rem;
    margin: 4rem 0 0 0;

 
}
.Snow-span--wrapper{
 
    width: 35%;
    text-align:center;
    display: flex;
    flex-flow: column nowrap;

    color: rgb(173, 19, 19);
    
}
}
.Snow-span{
}
.Snow-span--uniqlo{
    margin: 1rem 0 0 0;
}
.Snow-span{}
.Snow.Section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    gap: 5rem;
  

}
.Section-article{
    display: flex;
    justify-content: center;
    align-items: center;

   
    
}
.Section-a{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.Section-img--caja{
 display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Section-h3{
    text-align: center;
     color: rgb(173, 19, 19);
     font-weight: 500;
     margin: 0.5rem 0 0 0;

}

.Section-svg{
    width: 1.7rem;
    color:rgb(99, 82, 82) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main.Fondo{
    width: 100%;
    min-height: 60vh;
    background-image: url(../assets/papel-regalo.avif);
    background-attachment:fixed;
}

.Main.Regalo{
    width: 100%;
    min-height: 20vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}

.Regalo-caja{
 width: 40%;

 margin: 3rem 0 0 0 ;
 border: 0.1rem solid rgb(226, 225, 225);

 
}

.Regalo-a{

}

.Regalo-img-modelos{
    object-fit: cover;
}

.Wrapper.Ideas{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    gap: 2rem;

}

#Ideas-h2{
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0 0 0;
}

.Ideas.Filtrar{

    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
     gap: 1rem;
   position:sticky;
    top:6rem;
    z-index: 1;

}

.Filtrar-a{
    
    display: flex;
    
}

.Filtrar-cajas{
    display: flex;

    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;
    border-radius: 5rem;
    gap: 0.5rem;
    border: 0.2rem solid rgb(172, 57, 116) ;
    background-color: #eacda3;


   
}

.Wrapper.Accesorios{
    text-align: center;
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.Accesorios-h2{
     font-size: 2rem;
    font-weight: 500;
}

.Wrapper-Mosaico{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
}

.Mosaico {
display: grid;
grid-template-columns: repeat(10, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 14px;
grid-row-gap: 14px;
width: 80%;
}

.div1 { grid-area: 1 / 1 / 4 / 7; }
.div2 { grid-area: 1 / 7 / 3 / 9; }
.div3 { grid-area: 1 / 9 / 3 / 11; }
.div4 { grid-area: 3 / 7 / 4 / 9; }
.div5 { grid-area: 3 / 9 / 4 / 11; }
.div6 { grid-area: 4 / 1 / 6 / 3; }
.div7 { grid-area: 4 / 3 / 6 / 5; }
.div8 { grid-area: 4 / 5 / 6 / 7; }
.div9 { grid-area: 4 / 7 / 6 / 9; }
.div10 { grid-area: 4 / 9 / 6 / 11; }
.div11 { grid-area: 6 / 1 / 7 / 3; }
.div12 { grid-area: 6 / 3 / 7 / 5; }
.div13 { grid-area: 6 / 5 / 7 / 7; }
.div14 { grid-area: 6 / 7 / 7 / 9; }
.div15 { grid-area: 6 / 9 / 7 / 11; }

.Mosaico-texto{
    display: flex;
    flex-flow: column nowrap;
    

}

.Mosaico-valoracion{
    display: flex;
    gap: 0.6rem;
}

.Mosaico-svg{
    
  
    width: 1rem ;
  
    color: #b6b4b1;

}

.Mosaico-span{
    color: grey;
}

.Mosaico-h3{
    font-size: 1.2rem;
}

.Mosaico-span--precio{
    font-weight: 600;
    font-size: 1.1rem;
}

.foto{
    position:relative;

}

.Mosaico-foto--svg{
    width: 100%;

  

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top:8rem;
    
}

.bi{
min-height: 1.5rem;
width: 1.5rem;
}

.Mosaico-foto--svg.red{
    top:15rem;
}

.bi.red{
    color: white;
    min-height: 3rem;
    width: 3rem;
}

@media(max-width:860px){
    .Snow.Section{
        display: flex;
        justify-content: space-between;
        margin: 0 1.25rem;
        gap: 1rem;
    }

    .Section-h3{
        font-size: 0.8rem;
    }
}

@media(max-width:572px){
    .Section-h3{
        font-size: 0.5rem;
    }
    .Snow-span{
        font-size: 0.8rem;
    }

    .Snow-span--uniqlo{
        font-size: 0.8rem;
    }

    .Snow-imagen{
        width: 23rem;
    }

    .Main.Snow{
        gap:2rem;
    }
}